.login-logo__img{
    width: 220px;
    margin-bottom: 20px;
}

.intro-logo__img{
    width: 120px;
}

.ace-file-multiple .ace-file-container{
    min-height: 128px;
}

.navbar-brand__img{
    width: 120px;
}